.rank-container {
  display: flex;
  padding: 20px 4px;

  width: 80%;
  min-width: 1400px;
  margin: 0 auto;

  .classroom-tree {
    width: 160px;
    margin-right: 20px;
  }
  .rank-list {
    flex: 1;
  }
}

.rank-table .ant-table-tbody tr:nth-child(-n+3) {
  td.top-three {
    color: orange;
  }
}

.rank-modal {
  .icon {
    font-size: 28px;
  }
}
.use-case {
  .icon {
    visibility: hidden;
    cursor: pointer;
  }
  &:hover {
    .icon {
      visibility: visible;
    }
  }
}