.rank-container {
  display: flex;
  padding: 20px 4px;

  width: 80%;
  min-width: 1400px;
  margin: 0 auto;

  .classroom-tree {
    width: 160px;
    margin-right: 20px;
  }
  .assignment-list {
    flex: 1;
  }
}
